@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Oswald:wght@500;600;700&display=swap');



:root {
	--color-pri-r: #A80E0E;
	--color-pri-r-lt: #de1212;
	--color-pri-r-dk: #970c0c;
	--color-pri-y:#FFAA00;
	--color-pri-y-lt: #fdb21c;
	--color-pri-y-dk: #e39802;
	--font-color-black: #0A0A0A;
	--font-color-grey: #686868;
	--font-color-white: #F1E4E4;

	--heading-font: 'Oswald', sans-serif;
	--general-font: 'Montserrat', sans-serif;
	
}

a,
a:link,
a:hover,
a:active{
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1;
	font-family: var(--heading-font);
}


.nav li a {
	font-family: var(--general-font);
	font-size: 2rem;
}

.section__heading-p {
	font-size: 1.5rem;
	font-family: var(--general-font);
}

/* HEADER */

.nav__links {
	font-size: 2.5rem;	
	font-weight: 600;
}

.header {
	color: var(--font-color-white);
}

.header__banner h1,
.info h3 {
	font-size: 3.4rem;
	letter-spacing: 1px
}

.header__banner p,
.info p {
	font-size: 1.8rem;
	font-family: var(--general-font);
	font-weight: 600;
}

.header__banner button {
	font-size: 1.7rem;
	color: var(--color-pri-r);
	font-weight: 500;
	background-color: var(--color-pri-y);
}

.header__banner button:hover {
	background-color: var(--color-pri-y-lt);
}


/* CARDS */

.section__heading {
	font-size: 2.3rem;
}

.cards__tag {
	font-size: 1.8rem;
	text-transform: uppercase;
	font-family: var(--general-font);
	font-weight: 500;
	margin-top: .5rem;
}


/* INFO */
.info p,
.info h3{
	color: black;
}

.info h3 {
	color: var(--color-pri-r);
}


/* POPULAR */
.popular__rating,
.popular__description h4,
.popular__description p,
.menu__card-price span,
.popular__order-price {
	font-family: var(--general-font);
}

.popular__rating span {
	font-size: 1.2rem;
	font-weight: 400;
}

.popular__description h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

.popular__description p {
	font-size: 1.1rem;
	color: var(--font-color-gray);
	font-weight: 500;
}

.popular__order-price {
	font-weight: 500;
}



.popular__rating-icon {
	color: var(--color-pri-y);
	font-size: 1.4rem;
}

.popular__order-price {
	font-size: 1.5rem;
	letter-spacing: .3px;
	color: var(--color-pri-r);
}

.popular__order-btn {
	font-size: 1.1rem;
	color: var(--font-color-white);
}

.popular__cta {
	color: var(--color-pri-y);
	font-size: 1.4rem;
}

.features__heading {
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: .4px;
}

.features__slogan {
	font-size: 1.3rem;
	font-weight: 300;
	font-family: var(--general-font);
}

.testimonial__profile h4 {
	font-size: 1.7rem;

}

.testimonial__profile p {
	font-weight: 500;
	font-family: var(--general-font);
	color: var(--font-color-gray);
}

.testimonial__comment i{
	font-size: 6rem;
	color: var(--color-pri-r);
}

.testimonial__comment p {
	font-size: 1.2rem;
	font-weight: 500;
	font-family: var(--general-font);
}


.menu__container .section__heading {
	font-size: 3rem;
}

.menu__container .menu__details p {
	font-size: 1.3rem;
}

.menu__card-details h3,
.menu__card-details p {
	font-family: var(--general-font);
}

.menu__card-details h3 {
	font-weight: 600;
}

.menu__card-details p {
	font-weight: 500;
	font-size: 1.4rem;
}

.menu__card-price span {
	font-size: 1.2rem;
	color: var(--font-color-grey);
}


.about h3 {
	font-size: 2.5rem;
}

.about p {
	font-family: var(--general-font);
	font-size: 1.4rem;
}

.contact__group button {
	font-size: 1.4rem;
}







@media only screen and (max-width: 400px) {
	html {
		font-size: 50%;
	}
}


@media only screen and (min-width: 992px) { 
	html {
		font-size: 70%;
	}

	.nav__links {
		font-size: 2rem;	
	}
}