.brush-effect {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1000;
	height: fit-content;
}

.brush-effect img {
	object-fit: cover;
	width: 100%;
}

.u-btn,
.u-btn:focus,
.u-btn:active,
.u-btn:hover {
	border: none;
	outline: none;
}

.u-btn,
.u-btn-link {
	transition: all .3s ease;
}

.u-btn {
	width: 140px;
	border-radius: 100px;
	position: relative;
}

.u-btn-link {
	display: inline-block;
}

.u-btn-link::after {
	content: '\2192';
	transform: translateX(-150%);
	opacity: 0;
	position: absolute;
	transition: transform .3s ease;
}

.u-btn:hover {
	transform: scale(1.05);
}

.u-btn:hover .u-btn-link {
	transform: translateX(-10%);
}

.u-btn:hover .u-btn-link::after {
	transform: translateX(10%);
	opacity: 1;
}

.u-section {
	margin-top: 5rem;
}

.section__heading-p {
	margin-top: 1.5rem;
}

