.about {
	margin-top: 8rem;
}

.about h3 {
	margin-bottom: 2rem;
}

.footer {
	position: fixed;
	bottom: 0;
}

@media only screen and (min-width: 768px) {
	.about h3 {
		margin-bottom: 3rem;
	}

	.about {
		margin-top: 9rem;
	}
}