.footer {
	background-color: #fff;
}

.nav-container {
	top: 0;
}

.contact {
	margin-top: 9rem;
}


.contact__container {
	align-items: center;
	height: min-content;
}

.contact__group {
	height: 50vh;
}

.contact__group iframe {
	width: 100%;
	height: 23rem;

}

.contact__group button {
	display: block;
	padding: 1rem 3rem;
	width: 50%;
	background-color: transparent;
	border: 1px solid var(--color-pri-y);
	transition: all .3s ease;
}

.contact__group button a::after {
	top: 0;
	left: 0;
	transform: translateX(300%) scale(1.5);
}

.contact__group .u-btn:hover {
	background-color: var(--color-pri-y);
	color: #fff;
}

.contact__group .u-btn:hover .u-btn-link::after {
	transform: translateX(500%) scale(1.5);
}


@media only screen and (min-width: 768px) {
	.nav li {
		color: black;
	}

	.contact {
		height: 100vh;
	}

	.contact__group iframe {
		height: 23rem;
	}

}

@media only screen and (min-width: 992px) {
	.contact__group {
		padding: 3rem;
	}
	
	.contact__container {
		height: 50rem;
	}

	.contact__group iframe,
	.contact__group form {
		width: 100%;
	}

	.contact__group iframe {
		height: 100%;
	}

	.contact__group form {
		height: min-content;
	}

	.footer {
		position: fixed;
		bottom: 0;
	}
}