.nav-container {
	top: 0;
}

body {
	overflow-x: hidden;
}

.menu__container {
	margin-top: 9rem;
}

.menu__overview {
	position: relative;
}

.menu__video-container{
	position: relative;
	padding: 0;
}

.menu__details {
	position: absolute;
	z-index: 1000;
	color: #fff;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.menu__overview .info-brush-1 {
	top: -9px;
}

.menu__overview .info-brush-2 {
	bottom: -7px;
}

.menu__video {
	width: 100%;
	height: 100%;
	bottom: 0;
}

.menu__overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .85);
	position: absolute;
	left: 0;
}


.menu__card {
	position: relative;
	max-height: 15rem;
}

.menu__card hr {
	width: 100%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, 
    	                            transparent, 
    	                            var(--color-pri-y),
    	                            transparent);
    position: absolute;
    bottom: -4rem;
    left: 0;
}

.menu__card-img {
	border-radius: 6px;
	overflow: hidden;
	position: relative;
}

.menu__card-overlay {
	width: 100%;
	height: 100%;
	background: radial-gradient(transparent, #000);
	background-size: cover;
	position: absolute;
	transition: all .4s ease;
	backface-visibility: hidden;
}

.menu__card-img:hover .menu__card-overlay {
	transform: scale(3);
}


.menu__card-details {
	justify-content: space-evenly;
	height: 100%;
}


.menu__card-price {
/* 	position: absolute; */
	align-items: center;
}

.menu__card-img {
	width: 13rem;
	height: 13rem;
}

.menu__card-img img {
	object-position: center;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: all .75s ease;
}

.menu__card-img:hover img {
	transform: scale(1.1);
}

.menu__card-price {
	margin-top: 1rem;
}

.menu__card-price span {
	margin-left: .5rem;
}



@media only screen and (min-width: 768px) {
	.menu__overview .info-brush-1 {
		top: -13px;
	}
	.nav li {
		color: black;
	}

	.hr-3 {
		display: none;
	}

	.menu__card .hr-1 {
	    background-image: linear-gradient(to right, 
    	                        transparent, 
    	                        var(--color-pri-y));
	}

	.menu__card .hr-2 {
		    background-image: linear-gradient(to right, 
	    	                        var(--color-pri-y),
	    	                        transparent);
	}
}

@media only screen and (min-width: 992px) {
	.menu__overview .info-brush-1 {
		top: -15px;
	}
}