.menu__container,
.header,
.contact,
.about,
.cards,
.info,
.popular,
.features,
.testimonial {
	animation: transitionIn .75s ease-out;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateY(10deg);
	}

	to {
		opacity: 1;
		transform: rotateY(0);
	}
}
