html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* to calculate pixels easier */
	font-size: 62.5%;	/* 10px / 16px = (62.5% == 10px)  */
	list-style: none;
	text-decoration: none;
}

*,
::before,
::after {
	box-sizing: inherit;
}


body {
	scroll-behavior: smooth;
}

.sub__header h1::after {
	content: "";
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 3rem;
    background-image: linear-gradient(to right, 
	                            transparent, 
	                            var(--color-pri-y),
	                            transparent);
}
/* ----------------- *\ 
 NAVIGATION
\* ----------------- */
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.logo {
	width: 6rem;
	padding: 1rem 0;
}

.nav-container {
	margin: 0;
	padding: .5rem 0;
	background-color: rgba(0, 0, 0, .4);
	position: fixed;
	z-index: 2000;
	color: #fff;
	transition: all .5s ease;
	height: 8rem;
}

.nav {
	
	justify-content: flex-end;
	align-items: center;
	min-height: min-content;
}

.nav__links {
	justify-content: space-around;
	align-items: center;
	list-style: none;
	height: 100%;
	margin: 0;
	position: absolute;		/* remove in lg screen */
	right: 0;		/* remove in lg screen */
	height: 92vh;	/* remove in lg screen */
	top: 7.5rem;		/* remove in lg screen */
	background-color: rgba(0, 0, 0, .4); /* remove in lg screen */
	flex-direction: column;		/* alter in lg screen */
	z-index: 3000;
	transform: translateX(100%); /* remove in lg screen */ 
	transition: all .3s ease-in;
}

.nav__links li {
	opacity: 0; /* remove in lg screen */
	height: 25%;
	width: 100%; 
}

.nav__links li a {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.burger {
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin: 5px;
	top: 8vh;
	transition: all .2s ease;
}

.toggle .line-1 {
	transform: rotate(-45deg) translate(-5px, 6px);
} 

.toggle .line-2 {
	opacity: 0;
	transform: translateX(100%);
} 

.toggle .line-3 {
	transform: rotate(45deg) translate(-5px, -6px);
} 

/* ONLY APPLY WHEN BURGER ICON IS CLICKED */
.nav__links-active {				/*  */
	transform: translateX(0);	
}									/*  */
									
@keyframes navLinkFade {			/*  */
	from {
		opacity: 0;					/*  */
		transform: translateX(50px);
	}								/*  */
									
	to {							/*  */
		opacity: 1;
		transform: translateX(0);	/*  */	
	}
}									/*  */
/* ONLY APPLY WHEN BURGER ICON IS CLICKED */

/* ----------------- *\ 
 NAVIGATION
\* ----------------- */


/* ----------------- *\ 
 HEADER
\* ----------------- */

.header {
	overflow: hidden;
	position: relative;
}

.overflow {
	height: 90vh;
	background-image: linear-gradient(to top left,
		                            rgba(0, 0, 0, .8),
		                            rgba(0, 0, 0, .2)),
	url('../images/landing-cover-tab.webp');
	color: var(--font-color-white);
	background-position: center;
	background-size: cover;
}

.header .brush-effect {
	bottom: -5px;
}

.header__bg {
	width: 100%;
	position: absolute;
	z-index: -100;
	height: 90vh;
}

.header__bg img {
	object-fit: cover;
}

.header__banner {
	height: 65vh;
	position: relative;
	transform: translateY(1%);
}

.header__banner-sub {
	justify-content: space-around;
}

.header__banner .header__overlay {
	position: relative;
}

.header__banner p {
	z-index: 100;
}

.header__banner img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -58%) scale(1.2, 1.2);
	z-index: -10;
}

.header__banner .img-s{
		display: none;
	}
/* ----------------- *\ 
 END OF HEADER
\* ----------------- */





/* ----------------- *\ 
 CARDS
\* ----------------- */
.cards__header {
	text-align: center;
}

.section__heading-brush  {
	width: 40%;
}

.cards__item-container {
	flex-wrap: wrap;
}

.cards__item {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 6px;
	height: 30vw;
	width: 30vw;
	align-items: center;
	justify-content: space-around;
	transition: all .1s ease-in;
	cursor: pointer;
}

.cards__item:hover {
	box-shadow:0 .5rem 2rem rgba(0, 0, 0, .2);
	transform: translateY(-1px);
	border: none;
}

.cards__item:active {
	transform: translateY(0);
	box-shadow:0 .5rem 2rem rgba(0, 0, 0, .1);
}

.item-1:hover {
	border-bottom: 4px solid #A2E0D2;
}

.item-2:hover {
	border-bottom: 3px solid #DA635D;
}

.item-3:hover {
	border-bottom: 3px solid #CCABDA;
}

.item-4:hover {
	border-bottom: 3px solid #FFDD95;
}

.cards__icon {
	max-width: 7rem;
}

.cards__tag {

}
/* ----------------- *\ 
 END OF CARDS
\* ----------------- */


/* ----------------- *\ 
 INFO
\* ----------------- */
.info {
	background-color: var(--color-pri-y);
	color: var(--font-color-white);
	position: relative;
	padding: 0;
	overflow: hidden;
}

.info div {
	padding-top: 0;
}

.info .info-brush-1 {
	top: -7px;
}

.info .info-brush-2 {
	bottom: -6px;
}

.info .row {
	align-items: center;
	align-content: center;
}

.info .row div:nth-child(1) {
	height: 75vh;
}

.info .row div:nth-child(2) {
	height: 50vh;
}


.info .img-container {
	overflow: hidden;
	background-image: linear-gradient(
		            rgba(0, 0, 0, .3),
		            rgba(0, 0, 0, .3)),
	url('../images/deliver-pizza.webp');
	background-size: cover;
	background-position: center;
}

.info .img-container img {
	object-fit: cover;

}

.info__banner {
	text-align: center;
	justify-content: center;
}

.info__banner p {
	max-height: min-content;
	display: inline-block;
	
}

.info__banner h3 {
	margin-bottom: 2rem;
}
/* ----------------- *\ 
 END OF INFO
\* ----------------- */

/* ----------------- *\ 
   POPULAR
\* ----------------- */
.popular .row {
	justify-content: center;
}

.popular__cards {
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
	padding: 0;
}

.popular__img {
	max-width: 100%;
	height: 15rem;
	background-size: cover;
	background-position: center;
	position: relative;
}

.popular__img-1 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/burger-1.webp');
}


.popular__img-2 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/ChiliCheeseDog.webp');
}

.popular__img-3 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/roastporksandwich.webp');
}

.popular__img-4 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/creamy-garlic-pasta.webp');
}

.popular__img-5 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/cheesyfootlong.webp');
}

.popular__img-6 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/roastporksandwich.webp');
}

.popular__img-7 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/crispycheesypizza.webp');
}

.popular__img-8 {
	background-image: linear-gradient(to top,
		                            rgba(0, 0, 0, .6),
		                            rgba(0, 0, 0, .2)),
	                url('../images/popular/pizzaburger.webp');
	background-position: bottom;
}

.popular__details {
	height: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly
}


.popular__brush {
	position: absolute;
	bottom: -.5%;
}


.popular__details .popular__description p {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis; 
	  width: 120px;
	  margin: auto;

}

.popular__order .popular__order-btn {
	background-color: var(--color-pri-y);
	width: 100px;
}

.popular__cta {
	background-color: var(--color-pri-r);
}

/* ----------------- *\ 
   END OF POPULAR
\* ----------------- */


/* ----------------- *\ 
   		FEATURES
\* ----------------- */
.features {
	background-color: var(--color-pri-y);
	position: relative;
	backface-visibility: hidden;
}

.features-brush-1 {
	top: -7px;
}

.features-brush-2 {
	bottom: -7px;
}

.features .row {
	justify-content: space-around;
}

.features__card-container {
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.features__card {
	background-color: var(--font-color-white);
	border-radius: 7px;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .3);
	min-height: 20rem;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.features__icon {
	width: 50px;
}
/* ----------------- *\ 
   	END OF FEATURES
\* ----------------- */


/* ----------------- *\ 
   	TESTIMONIALS
\* ----------------- */

.testimonial {
	height: 60vh;
	justify-content: center;
}

.testimonial__comment {
	margin-top: 2rem;
	position: relative;
}

.testimonial__comment i{
	position: absolute;
	z-index: 9000;
	opacity: .1;
	left: 30%;
	top: -30%;
}

.testimonial__carousel {
	padding: 2rem 3rem;
	position: relative;
}

.testimonial .row {
	justify-content: center;
}

.testimonial__item {
	position: relative;
}

.testimonial__profile img {
	width: 100px;
	height: 100px;
	border: 2px solid #393e46;
	border-radius: 50%;
	box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .2);
	margin-bottom: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 80px;
	width: 80px;
	background-image: none;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
	font-size: 55px;
	color: var(--color-pri-y);
	text-shadow: 0 .2rem 2rem rgba(0, 0, 0, .2)
}

.carousel-control-next-icon:after {
	content: '>';
}

.carousel-control-prev-icon:after {
	content: '<';
	left: -10px;
}
/* ----------------- *\ 
   	END OF TESTIMONIALS
\* ----------------- */

/* ----------------- *\ 
   	FOOTER
\* ----------------- */
.footer {
	padding: 2rem 3rem;
	border-top: 1px solid #ccc;
}

.footer .row {
	justify-content: center;
	align-items: center;
}



/* ----------------- *\ 
   	END OF FOOTER
\* ----------------- */


/* ----------------- *\ 
 MEDAIA QUERIES
\* ----------------- */

/* For 400px Screen */
@media only screen and (max-width: 400px) {
	.header__banner .img-l{
		display: none;
	}

	.header__banner .img-s{
		display: block;
		width: 80%;
		transform: translate(-56%, -58%) scale(1.2, 1.2);
	}
	
	.cards__item {
		height: 30vw;
		width: 30vw;
	}
}

/* For 450px Screen */
@media only screen and (min-width: 450px) {
	.popular__details .popular__description p {
		width: 150px;
	}

	.header .brush-effect {
		bottom: -7px;
	}

}

/* For Small Screen */
@media only screen and (min-width: 576px) {
	.popular__details .popular__description p {
		width: 180px;
	}

	.header .brush-effect {
		bottom: -10px;
	}

	.info .info-brush-1 {
		top: -8px;
	}

	.features-brush-1 {
		top: -10px;
	}

	.features-brush-2 {
		bottom: -5px;
	}
	
	.logo {
		width: 7rem;
	}

}

/* For Medium Screen */

@media only screen and (min-width: 768px) {
	.header .brush-effect {
		bottom: -13px;
	}

	.nav-container {
		margin: 0;
		padding: 0;
		background-color: transparent;
		position: fixed;
		z-index: 2000;
	}

	.nav__links {
		position: initial;		/* remove in lg screen */
		right: 0;		/* remove in lg screen */
		height: auto;	/* remove in lg screen */
		top: 8vh;		/* remove in lg screen */
		flex-direction: row;		/* alter in lg screen */
		font-size: 2rem;		/* remove in lg screen */ 
		z-index: 3000;
		transform: translateX(0); /* remove in lg screen */ 
		background-color: transparent;
		height: 100%;
		display: block;
	}
	
	
	.scrolling-active {
		background-color: #fff;
		box-shadow: 0 3px 1rem rgba(0, 0, 0, .2);
		color: black;
	}

	.nav__links li {
		opacity: 1; /* remove in lg screen */ 
		width: min-content;
		display: block;
	}

	

	.nav__links li::after {
		margin-top: .5rem;
		content: '';
		width: 100%;
		display: block;
		height: 3px;
		background-color: var(--color-pri-y);
		transition: all .3s ease;
		opacity: 0;
		margin-top: 1rem;
	}

	.nav__links li:hover::after {
		opacity: 1;
	}
	
	.nav__links li:hover > a {
		text-shadow: 0 0 2rem rgba(0, 0, 0, .5);
		transition: all .3s ease;
	}

	.nav__links li:active > a,
	.nav__links li:active::after {
		transform: translateX(-1px);
	}

	.cards__item {
		max-width: 20rem;
		max-height: 20rem;
	}

	.cards__item-container {
		flex-direction: row;
	}


	.info .row {
		flex-direction: row;
	}

	.info .info-brush-1 {
		top: -12px;
	}

	.info .info-brush-2 {
		bottom: -2px;
	}
	
	.features-brush-1 {
		top: -13px;
	}

	.features-brush-2 {
		bottom: -6px;
	}

	.info__banner {
		text-align: left;
	}

	.popular__img {
		height: 20rem;
	}

	.popular__details .popular__description p {
		width: 90%;
	}

	.popular__order .popular__order-btn {
		background-color: var(--color-pri-y);
		width: 140px;
	}

	.testimonial__comment {
		margin-top: 1.7rem;
	}
}


/* For Large Screen */

@media only screen and (min-width: 992px) {
	.burger {
		display: none;
	}

	.header .brush-effect {
		bottom: -17px;
	}

	.info .info-brush-1 {
		top: -30px;
	}

	.features-brush-1 {
		top: -15px;
	}

	.popular__details .popular__description p {
		max-width: 150px;
	}

	.features {
		height: 40rem;
	}

	.features__card {
		max-width: 20rem;
	}

	.logo {
		width: 7rem;
	}
	
	.testimonial__comment {
		margin-top: 4rem;
	}

}
	

@media only screen and (min-width: 1200px) {
	.header .brush-effect {
		bottom: -25px;
	}

	.header__bg {
		height: 100vh;
	}


	.features-brush-1 {
		top: -30px;
	}


	.info .row div:nth-child(1) {
		height: 70vh;
	}

	.info .row div:nth-child(2) {
		height: 70vh;
	}

	.popular__details .popular__description p {
		width: 200px;
	}
}


